@font-face {
  font-family: "routhem";
  src:
    local("routhem"),
    url("/fonts/routhem.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bespax";
  src:
    local("bespax"),
    url("/fonts/bespax.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
