@font-face {
  font-family: "routhem";
  src: url("/fonts/Routhem.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "bespax";
  src: url("/fonts/bespax.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-button-next {
  display: none;
}
.swiper-button-prev {
  color: red;
  left: -15px;
  z-index: 99 !important;
  overflow: visible !important;
}

.swiper-slide {
  background-position: right;
  background-size: cover;
  width: 300px;
  height: 300px;
}
