@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.root {
  --clr-primary-bg: #380d41;
  --clr-primary: #f903aa;
  --clr-gray: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 148px;
  background-color: var(--clr-primary-bg);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  font-size: 25px;
  color: white;
}
.listItems {
  display: flex;
  gap: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-items: end;
  color: var(--clr-gray);
  margin-top: 20px;
}
.navbtn__active {
  background: var(
    --pink,
    linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ed19d8 81.25%,
      #fe3873 100%
    )
  );
  border-radius: 32px;
  text-align: center;
  border: 1px solid var(--pink, #920aa8);
  width: 126px;
  height: 37px;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
