@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import "../app/font.module.css";
.root {
  --clr-primary-bg: #380d41;
  --clr-primary: #f903aa;
  --clr-gray: #f2f2f2;
  --clr-white: #ffffff;
}

/* navbar section  */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 148px;
  background-color: var(--clr-primary-bg);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  font-size: 25px;
  color: var(--clr-white);
}
.listItems {
  display: flex;
  gap: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-items: end;
  color: var(--clr-gray);
  margin-top: 40px;
}
.navbtn__active {
  background: var(
    --pink,
    linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ed19d8 81.25%,
      #fe3873 100%
    )
  );
  border-radius: 32px;
  text-align: center;
  border: 1px solid var(--pink, #920aa8);
  width: 126px;
  height: 37px;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hero section  */

.hero__image {
  position: relative;
  background-image: url("/images/hero.png");
  background-size: cover;
  width: 100vw;
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Using rgba to set a semi-transparent black overlay */
  z-index: 0;
}

.header {
  color: var(--clr-primary);
  text-align: center;
  text-shadow: 8px 22px 4px rgba(0, 0, 0, 0.25);
  font-family: routhem;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 129px;
  z-index: 1;
  animation: type 8s steps(40, end) infinite;
}
.visible {
  -webkit-text-stroke: 1px #e2e53c;
}

.hero__para {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 74px;
  z-index: 1;
}
.hero__para__text {
  color: #fff;
  font-family: bespax;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

.hero__word {
  display: inline-block;
  opacity: 0;
  animation: typewriterAnimation 2s ease-in-out forwards;
}

@keyframes typewriterAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.bg__line {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #a8620a 2%,
    #e09519 20%,
    #ffe581 48%,
    #fcdc75 52%,
    #f6c755 60%,
    #eca522 71%,
    #e8980f 75%,
    #feb838 100%
  );
}
.flex__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 483px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 58px;
  border: 5px solid var(--pink, #920aa8);
  z-index: 1;
  margin-bottom: 300px;
}

.flex__container:hover{
  background: var(
    --pink,
    linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ed19d8 81.25%,
      #fe3873 100%
    )
  );
  border:none;
}
.flex__container:hover .view__all__btn{
  font-size: 22px;
}

.view__all__btn {
  font-family: bespax;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
}

/* products section  */

.products__main__container {
  background-color: #26072c;
  padding-top: 170px;
}
.card__container {
  width: 397px;
  height: 543px;
  border-radius: 36.423px;
  background: #fff;
  box-shadow: 0px 0px 36.42312px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.card__header {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
}
.card__header__text {
  background: var(
    --Gold,
    linear-gradient(
      90deg,
      #a8620a 2%,
      #e09519 20%,
      #ffe581 48%,
      #fcdc75 52%,
      #f6c755 60%,
      #eca522 71%,
      #e8980f 75%,
      #feb838 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__image {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.card__container:hover .card__image {
  transform: scale(1.2);
}

.card__item__name {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}
.card__container:hover .card__item__name {
  visibility: hidden;
}
.card__button {
  display: block;
  width: 340px;
  height: 86px;
  margin: 0 auto;
  border: none;
  border-radius: 50.5px;
  background: var(
    --pink,
    linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ed19d8 81.25%,
      #fe3873 100%
    )
  );
}
.card__button > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  
}
.card__button:hover {
  background: var(--clr-white);
  text-align: center;
  color: #f0f !important;
  justify-content: center;
  border: 5px solid;
  border-color: var(
    --pink,
    linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ed19d8 81.25%,
      #fe3873 100%
    )
  );
}

.card__button__para {
  font-family: bespax;
  font-size: 25px;
}
.card__button:hover .card__button__para {
  justify-content: end;
}
.card__button:hover .card__button__img {
  opacity: 0;
  transform: translate(-150px, 0);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.card__button__para,
.card__button__img {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.products__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Footer section  */

.footer__container {
  position: relative;
  background-image: url("/images/footer-plain.png"),
    url("/images/footer-dots.png");
  background-size: cover;
  width: 100vw;
  height: 400px;
  background-color: #26072c;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__text {
  background-color: var(--clr-primary-bg);
  text-align: center;
  color: var(--clr-white);
  padding: 40px;
  font-family: "Poppins", sans-serif;
}
.logo__container {
  width: 413px;
}
.logo__para {
  color: var(--clr-white);
  text-align: justify;
  font-family: Poppins;
  font-size: 18.2px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.82px;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links ul li {
  color: #d4c9c9;
  text-align: center;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  list-style: none;
  text-align: left;
}
.social__text {
  background-image: url("/images/layer-follow.png");
  background-size: cover;
  padding: 12px;
  color: #fff;
  font-family: routhem;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}
.social__container .facebookIcon , .instagramIcon , .twitterIcon, .youtubeIcon{
  color: var(--clr-white);
  margin-top: 20px;
  margin-right: 25px;
  cursor: pointer;
}
.facebookIcon:hover {
  color:#0866FF;
  transform: scale(1.2);
  transition:
    transform 0.3s ease-in-out,
}
.instagramIcon:hover{
  color:#d6249f;
  transform: scale(1.2);
  transition:
    transform 0.3s ease-in-out,
}
.twitterIcon:hover{
  color:#2962ff;
  transform: scale(1.2);
  transition:
    transform 0.3s ease-in-out,
}
.youtubeIcon:hover{
  color:#f00;
  transform: scale(1.2);
  transition:
    transform 0.3s ease-in-out,
}

